/*Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 5%;
    }

    .row {
        padding: 0 2%;
    }

}


/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px
    }

    section {
        padding: 60px 15px;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .hero-text-box {
        width: 95%;
        padding: 0 2%;
    }

    .steps-box:last-child {
        margin-top: 30px;
        font-size: 90%;
    }

    .works-step div {
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 10px;
        float: left;
        font-size: 140%;
        margin-right: 25px;
    }

    .works-step {
        margin-bottom: 30px;
        padding-top: 10px;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    .app-screen {
        width: 50%;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }

    footer {
        padding: 20px;
    }
}


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .hero-text-box h1 {
        font-size: 180%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    
    .main-nav,
    .js--main-nav {
        display: none;
    }
    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px;
        font-size: 100%;
    }

    .sticky .main-nav {
        margin-top: 16px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }
    
    .sticky .mobile-nav-icon{
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .sticky .mobile-nav-icon i {
        color: #555;
    }

    h1 {
        font-size: 100%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .app-screen {
        width: 40%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step div {
        height: 40px;
        width: 40px;
        padding: 5px;
        margin-right: 15px;
        font-size: 120%;
    }

    .works-step {
        margin-top: 15px auto;
    }

    .works-step:last-of-type {
        margin-bottom: 40px;
    }

    .section-cities img {
        width: 55%;
    }

    .box {
        display: block;
        text-align: center;
    }

    #googleMap {
        width: 80%;
        margin: 0 auto;
    }

    .social-links {
        float: left;
    }
}


/* Small phone: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 16px
    }

    section {
        padding: 25px 0;
    }

    label {
        font-weight: 500;
    }

    input,
    textarea {
        font-weight: 300;
    }

    .contact-from {
        width: 100%;
    }

    .hero-text-box h1 {
        font-size: 150%;
    }

    .footer-nav li {
        margin-right: 15px;
    }

    .social-links {
        float: left;
    }

}